@model TravelBookingProject.ViewModel.TravelViewModel

<style>
    body {
        background-color: white;
    }
</style>
<div>
    <h3 class="text-center" style="color:black;  font-family:Georgia, 'Times New Roman', Times, serif; font-size:45px">Employee Details</h3>

    <hr />

</div>
<table class="table" style="font-size:15px; background-color:white; table-layout:fixed">
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif; background-color:lightseagreen">
        <th>Booking Fields</th>
        <th>Responses</th>
    </tr>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.EmpId)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmpId, new { @class = "form-control" })
        </td>
    </tr>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.EmpName)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmpName, new { @class = "form-control" })
        </td>
    </tr>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.GCM_Level)
        </td>
        <td>
            @Html.DisplayFor(model => model.GCM_Level, new { @class = "form-control" })
        </td>
    </tr>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.Travel_Type)
        </td>
        <td>
            @Html.DisplayFor(model => model.Travel_Type, new { @class = "form-control" })
        </td>
    </tr>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.CountryName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CountryName, new { @class = "form-control" })
        </td>
    </tr>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.CityName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CityName, new { @class = "form-control" })
        </td>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.Exp_Start_Date)
        </td>
        <td>
            @Html.DisplayFor(model => model.Exp_Start_Date, new { @class = "form-control" })
        </td>
    <tr style="font-size:20px; font-family:'Times New Roman', Times, serif;background-color:white">
        <td>
            @Html.DisplayNameFor(model => model.Exp_End_Date)
        </td>
        <td>
            @Html.DisplayFor(model => model.Exp_End_Date, new { @class = "form-control" })
        </td>
    </tr>

</table>
@using (Html.BeginForm())
{





    if (@TempData["message"].ToString() == "Pending")
    {
        <div class="center-block" style="margin-left:500px; margin-top:10px">
            <input class="btn btn-success" value="Approve" type="submit" id=Model.EmpId formaction="@Url.Action("ApproveRequest","ManagerPage", new {id=Model.EmpId})" formmethod="post" />



            &nbsp;
            &nbsp;
            <input class="btn btn-danger" value="Reject" id="Model.EmpId" type="submit" formaction="@Url.Action("RejectRequest","ManagerPage", new {id = Model.EmpId})" formmethod="post" />
        </div>
    }





}


