@model TravelBookingProject.ViewModel.TravelViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h2 style="color:black; font-family:'Times New Roman', Times, serif; font-size:45px" class="text-center">
        Employee Details</h2>
        <h4>EMP</h4>
        <hr />
        <dl class="dl-horizontal" >
            <dt>
                @Html.DisplayNameFor(model => model.EmpName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmpName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GCM_Level)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GCM_Level)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Travel_Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Travel_Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CountryName)

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CityName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Exp_Start_Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Exp_Start_Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Exp_End_Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Exp_End_Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ManagerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ManagerId)
            </dd>
        </dl>
</div>
<p>
    <input class="btn btn-primary" value="Approve" type="submit"  formaction="@Url.Action("ApproveRequest","ManagerPage")" formmethod="post" />
    &nbsp;
    &nbsp;
    <input class="btn btn-danger" value="Reject"  type="submit" formaction="@Url.Action("RejectRequest","ManagerPage")" formmethod="post" />
</p>