@model TravelBookingProject.ViewModel.LoginpageViewModel

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>                    @*We are doing this to validate the field at client side*@
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section head{
    <style type="text/css">
        body {
            /*background-image: url('/Content/images/bg4.jpg');*/
            margin: 0;
            background-size: 1110px;
        }
    </style>
}
@*<div class="header-bg-img center-box" style="background-image: url('../../images/banner.jpg');">*@
<div class="header-bg-img center-box" style="background-image: url('../../Images/tour.jpg')">
    @*//<img src="~/Content/images/logo.png" style="height:90px; width:300px; margin:0"  />*@
    <h2 class="text-left" style="color:darkcyan;font-style:initial; font-family:'Times New Roman', Times, serif; font-size:30px; font-weight:200 ">
        Worldline FTR Portal
    </h2>


    <div class="center-block">

        <img src="~/Content/images/user.png" style="height:100px; width:100px; margin-left:530px; margin-top:15px; background-color:black" />
        <br />
        <br />
        <br />
        <h2 class="text-center" style="color:lightseagreen; font-style:initial; font-family:'Times New Roman', Times, serif; font-size:35px; font-weight:bold">
            Employee Login
        </h2>
    </div>
    <br />
    <br />

    <div class="center-block" style="margin-top:50px; background-color:none; font-size:20px; color:white">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" });
            <table class="table" style="border:2px darkgray">

                <tr>
                    <td style="text-align:center; background-color:lightseagreen">@Html.LabelFor(m => m.UserName)</td>
                    <td>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; background-color:lightseagreen">@Html.LabelFor(m => m.Password)</td>
                    <td>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
                    </td>
                </tr>

                @*<tr>
                        <td colspan="2" style="text-align:center">
                            <input type="submit" class="btn btn-success" style="height: 50px; width: 100px; font-size: 1.4rem; background-color: lightseagreen; border-radius: 25px; padding-top: 5px; padding-right: 12px; padding-bottom: 6px; padding-left: 12px; " />
                        </td>
                    </tr>*@
            </table>

            <div class="center-block" style="text-align:center">
                <input type="submit" class="btn btn-success" value="Login" style="height: 50px; width: 100px; font-size: 2rem; background-color: lightseagreen; border-radius: 25px; padding-top: 5px; padding-right: 12px; padding-bottom: 6px; padding-left: 12px; " />
            </div>

        }
    </div>

</div>


